/* 가상 클래스 선택자 root의 색상들은 필수 사용요소가 아닙니다.
색상은 자유롭게 구성해주세요. */
:root {
  --main-color: #04c82f;
  --main-bg-color: #e5ffeb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
}

.todoListContainer {
  max-width: 800px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #04c82f;

  height: 100px;
}

header > img {
  height: 40px;
}

header > div {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

@media (max-width: 539px) {
  header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.input-title-container {
  display: flex;
  justify-content: center;
}

.input-title-container > input {
  width: 300px;
  height: 30px;
}

.input-title-container > button {
  width: 60px;
  height: 30px;
}

li {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

li > input {
}

li > button {
  width: 20px;
  height: 20px;
  color: white;
  background-color: #04c82f;
  border: none;
  border-radius: 4px;
}

.active {
  color: black;
  text-decoration: none;
}

.inactive {
  color: gray;
  text-decoration: line-through;
}
